<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Login">
    <select id="findUser" parameterType="LoginInfoDTO" resultType="Integer">
        SELECT count(*) FROM LOGININFO WHERE id=#{id} and password=#{password} 
    </select>
    
    <insert id="signUpMember" parameterType="MemberCommand">
    	INSERT INTO member(id,name,nick,email) 
    	VALUES(
    		#{id},
    		#{name}, 
    		#{nick}, 
    		#{email}
    	)
    </insert>
    
    <insert id="signUpLoginInfo" parameterType="MemberCommand">
    	INSERT INTO logininfo 
    	VALUES(
    		#{id},
    		#{password}
    	)
    </insert>
    
    <delete id="deleteLoginInfo" parameterType="LoginInfoDTO">
		DELETE FROM logininfo
		WHERE id = #{id} 
			AND password = #{password}
    </delete>
    
</mapper>







