<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MPage">
	<select id="meminfo" parameterType="int" resultType="MemberDTO">
		select * from member where id = #{id}
	</select>
	
	<select id="count" parameterType="string" resultType="int">
		select count(*) from board where writer = #{id}
	</select>
	
	<select id="list" parameterType="PageCommand" resultType="BoardDTO">
		select * 
		from (
			select * 
			from (
				select row_number() over(order by adate desc) rnum, anum, pnum, adate, category, title 
				from board 
				where writer = #{id}
		<![CDATA[
			) where rnum <= #{endCount}
		) where rnum >= #{startCount}
		]]>
	</select>
</mapper>