<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Rank">

	<!-- 유저 수(활동점수): 페이징 처리 용 -->
	<select id="memberCountMpoint" resultType="int">
		select count(*) from member
	</select>
	
	<!-- 유저 수(평점): 페이징 처리 용 -->
	<select id="memberCountRating" resultType="int">
		select count(*) 
		from (
			select writer
			from board b, review r 
			where r.evnum = b.anum 
			group by writer
		)
	</select>


	<!-- 활동 점수별 상위 -->
	<select id="list_top_mpoint" parameterType="int" resultType="RankCommand">
		select *
		from 
		(
			select id, nick, thumbnail, mpoint 
			from member m 
			order by mpoint desc
		<![CDATA[
		) where rownum <= #{top}
		]]>
	</select>
	
	
	<!-- 활동 점수별 하위 -->
	<select id="list_page_mpoint" parameterType="PageCommand" resultType="RankCommand">
		select id, nick, thumbnail, mpoint 
		from (
			select m.*, rownum rnum from (
				select id, nick, thumbnail, mpoint 
				from member 
				order by mpoint desc
		<![CDATA[
			) m where rownum <= #{end} 
		) where rnum >= #{start}
		]]>
	</select>


	<!-- 받은 평점별 상위 -->
	<select id="list_top_rating" parameterType="int" resultType="RankCommand">
		select id, nick, thumbnail, avgrat
		from ( 
			select id, nick, thumbnail, avgrat, rownum rnum 
			from member, (
				select writer, avg(rating) avgrat 
				from board b, review r 
				where r.evnum = b.anum 
				group by writer
			) where writer = id 
			order by avgrat desc
		<![CDATA[
		) where rnum <= #{top}
		]]>
	</select>


	<!-- 받은 평점별 하위 -->
	<select id="list_page_rating" parameterType="PageCommand" resultType="RankCommand">
		select * 
		from (
			select * 
			from ( 
				select id, nick, thumbnail, avgrat, rownum rnum 
				from member, (
					select writer, avg(rating) avgrat 
					from board b, review r 
					where r.evnum = b.anum 
					group by writer 
				) where writer = id order by avgrat desc
		<![CDATA[
			) where rnum <= #{end}
		) where rnum >= #{start}
		]]>
	</select>

</mapper>







