<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>jQuery</title>
<script type="text/javascript"
	src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">        
        <link rel="stylesheet" href="http://okky.kr/assets/application-178a471b205e52821f985abddea1ac34.css"/>
<script>
    $(function(){
    })
</script>
</head>
<body>
            <!--왼쪽 메뉴바 색깔 보라색으로 변경  -->
            <div class="sidebar sidebar-category"
                style="background-color: #5d2c96">

                <a href="javascript://" class="sidebar-header"> <i
                    class="fa fa-bars sidebar-header-icon"></i>
                </a>

                <h1>
                    <div class="logo">
                        <a href="/ITGBBS/free/list.do"><img
                            src="http://okky.kr/assets/okjsp_logo-467f1484e489ca1133e6320083e1fb9f.png"
                            alt="OKKY" title="OKKY" /></a>
                    </div>
                </h1>

                <ul id="search-google-icon"
                    class="nav nav-sidebar nav-sidebar-search-wrapper">
                    <li class="nav-sidebar-search"><a href="javascript://"
                        class="link" id="search-google" data-toggle="popover"
                        data-trigger="click"><i class="fa fa-search"></i></a></li>
                </ul>

                <form id="search-google-form" name="searchMain"
                    class="nav-sidebar-form" action="http://www.google.com/search">
                    <div class="input-group">
                        <input type="text" name="qt" class="form-control input-sm"
                            placeholder="Google 검색" /> <input type="hidden" name="q" /> <span
                            class="input-group-btn">
                            <button class="btn btn-default btn-sm" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>

                <div class="nav-user nav-sidebar">


                    <div class='avatar avatar-medium clearfix '>
                        <a href='/user/info/45019' class='avatar-photo'><img
                            src='//www.gravatar.com/avatar/d6ee80eb5a45fd4131a4b75d48df792b?d=identicon&s=40' /></a>
                    </div>

                    <div class="nav-user-action">
                        <div class="nav-user-func">
                            <a href="javascript://" id="user-func" data-toggle="popover"
                                data-trigger="click" tabindex="0"> <i id="user-func-icon"
                                class="fa fa-cog"></i>
                            </a>
                        </div>
                        <div class="nav-user-func">
                            <a href="javascript://" id="user-notification"
                                data-toggle="popover" data-trigger="click" tabindex="0"> <i
                                id="user-notification-icon" class="fa fa-bell"></i> <span
                                id="user-notification-count" class="badge notification"
                                style="display: none;">0</span>
                            </a>
                        </div>
                    </div>
                    <form action="/logout/index" method="post" style="display: none;">
                        <input type="submit" name="logoutButton" value="logoutButton"
                            id="logoutButton" />
                    </form>

                    <script id="setting-template" type="text/template">
                <div class="popover popover-fixed" role="tooltip"><div class="arrow"></div>
                    <h3 class="popover-title"></h3>
                    <div class="popover-footer clearfix" id="user-func-popover">
                        <label href="" for="logoutButton" class="popover-btn"><i class="fa fa-sign-out"></i> 로그아웃</label>
                        <a href="/user/edit" class="popover-btn"><i class="fa fa-user"></i> 정보수정</a>
                    </div>
                </div>
            </script>

                    <script id="notification-template" type="text/template">
                <div class="popover popover-fixed" role="tooltip"><div class="arrow"></div>
                    <h3 class="popover-title"></h3>
                    <div class="popover-content" id="notification-popover"></div>
                </div>
            </script>

                    <script id="search-google-template" type="text/template">
                <div class="popover popover-fixed" role="tooltip"><div class="arrow"></div>
                    <h3 class="popover-title">Google 검색</h3>
                    <div class="popover-content" id="search-google-popover">
                        <form id="search-google-form" name="searchMain" class="nav-sidebar-form" action="http://www.google.com/search" onsubmit="searchMain.q.value='site:okky.kr '+searchMain.qt.value;">
                            <div class="input-group">
                                <input type="text" name="qt" class="form-control input-sm" placeholder="Google 검색" />
                                <input type="hidden" name="q" />
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-sm" type="submit"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </script>



                </div>

                <ul class="nav nav-sidebar nav-main">

                    <li data-toggle="tooltip" data-placement="right"
                        data-container="body" title="Q&A"><a
                        href="/articles/questions" class="link"><i
                            class="nav-icon fa fa-database"></i> <span
                            class="nav-sidebar-label nav-sidebar-category-label">Q&A</span></a></li>

                    <li data-toggle="tooltip" data-placement="right"
                        data-container="body" title="Tech"><a href="/articles/tech"
                        class="link"><i class="nav-icon fa fa-code"></i> <span
                            class="nav-sidebar-label nav-sidebar-category-label">Tech</span></a></li>

                    <li class="active" data-toggle="tooltip" data-placement="right"
                        data-container="body" title="커뮤니티"><a
                        href="/ITGBBS/free/okkyFree2.jsp" class="link"><i
                            class="nav-icon fa fa-comments"></i> <span
                            class="nav-sidebar-label nav-sidebar-category-label">커뮤니티</span></a></li>

                    <li data-toggle="tooltip" data-placement="right"
                        data-container="body" title="칼럼"><a href="/articles/columns"
                        class="link"><i class="nav-icon fa fa-quote-left"></i> <span
                            class="nav-sidebar-label nav-sidebar-category-label">칼럼</span></a></li>

                    <li data-toggle="tooltip" data-placement="right"
                        data-container="body" title="Jobs"><a href="/articles/jobs"
                        class="link"><i class="nav-icon fa fa-group"></i> <span
                            class="nav-sidebar-label nav-sidebar-category-label">Jobs</span></a></li>

                </ul>

                <ul class="nav nav-sidebar nav-bottom">
                    <li data-toggle="tooltip" data-placement="right"
                        data-container="body" title="Github Issues"><a
                        href="https://github.com/okjsp/okky/issues" class="link"
                        target="_blank"><i class="fa fa-github"></i> <span
                            class="nav-sidebar-label nav-sidebar-category-label">Github
                                Issues</span></a></li>
                </ul>
            </div>

            <!--왼쪽 메뉴바 색깔 보라색으로 변경  -->
            <div class="sidebar-category-nav" style="background-color: #5d2c96">
                <h3 class="sub-title">커뮤니티</h3>
                <ul class="nav">
                    <li><a href="/articles/community" class="link"><span
                            class="nav-sidebar-label nav-sidebar-category-label">All</span> <span
                            class="nav-indicator "><span class="nav-selected-dot"></span></span></a></li>

                    <li><a href="/articles/notice" class="link"><span
                            class="nav-sidebar-label nav-sidebar-category-label">공지사항</span>
                            <span class="nav-indicator "><span
                                class="nav-selected-dot"></span></span></a></li>

                    <li><a href="/articles/life" class="link"><span
                            class="nav-sidebar-label nav-sidebar-category-label">사는얘기</span>
                            <span class="nav-indicator nav-selected"><span
                                class="nav-selected-dot"></span></span></a></li>

                    <li><a href="/articles/forum" class="link"><span
                            class="nav-sidebar-label nav-sidebar-category-label">포럼</span> <span
                            class="nav-indicator "><span class="nav-selected-dot"></span></span></a></li>

                    <li><a href="/articles/gathering" class="link"><span
                            class="nav-sidebar-label nav-sidebar-category-label">정기모임/스터디</span>
                            <span class="nav-indicator "><span
                                class="nav-selected-dot"></span></span></a></li>

                    <li><a href="/articles/promote" class="link"><span
                            class="nav-sidebar-label nav-sidebar-category-label">학원/홍보</span>
                            <span class="nav-indicator "><span
                                class="nav-selected-dot"></span></span></a></li>

                </ul>
            </div>

</body>
</html>